body{
    font-family: Aerial;
    background-color: #ffff00;
}

.content{
    background-color: #0000ff;
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    color: red;
}

.content h1{
    text-transform: uppercase;
}
